body {
  background-color: #ffa500;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.quotes-container {
  position: relative;
  max-width: 70%;
  background-color: white;
  height: 50vh;
  margin: 10% auto;
}
.main-container {
  position: absolute;
  width: 800px;
  height: 200px;
  display: block;
  margin: 70px;
}
.paras {
  color: #ffa500;
  font-size: 35px;
}
.para {
}
